GITHUB_TOKEN=
WORKNET_API_KEY=                         # 고용24 직업정보
HRDNET_API_KEY=                          # 고용24 국민내일배움카드 훈련과정
GOYONG24_RECRUIT_API_KEY=                # 고용24 채용정보
GOYONG24_EMPLOYER_TRAINING_API_KEY=      # 고용24 사업주훈련 훈련과정
GOYONG24_SENIOR_PROGRAM_API_KEY=         # 고용24 고령자취업역량 강화프로그램
GOYONG24_DUTY_INFO_API_KEY=              # 고용24 직무정보
GOYONG24_NATIONAL_HRD_CONSORTIUM_API_KEY= # 고용24 국가인적자원개발 컨소시엄
SARAMIN_ACCESS_KEY=
